# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build outputs
dist/
build/

# Logs
logs/
*.log

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp

# Database files
*.db
*.sqlite

# Documentacion local
.docs
